@import '../../styles/mixins.scss';

.content {
  padding: 24px 0;
  background-color: $c-grey-100;
}

.banner {
  margin: 32px 0;
}

.container {
  padding: 0 8px;
}

.flowers {
  margin-bottom: 32px;
}

.news {
  margin-top: 32px;
}
