@import '../../styles/mixins.scss';

.footer {
  padding: 16px 16px 24px 16px;
  display: flex;
  background-color: $c-dark;

  &_text {
    margin-left: 16px;
    color: $c-grey;
    line-height: 20px;
  }
}
